header{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
}
.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}
section{
    width: 50%;
}
section img{
    width: 100%;
}
main{
    width: 100vw;
}