
section{
    width: 100%;
    margin: 0 auto;
    background-color: var(--color-gray200);
    margin-top: 2rem;
}
.section-bg{
    display: none;
}
section img{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
main{
    display: flex;
    
    margin: 0 auto;
    justify-content: space-between;
    gap: 1rem;
}
.ul-sector{
    display: flex;
    overflow: auto;
   
    padding: 2rem;
    gap: 1rem;
}
.li-sector{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 240px;
    padding: 1rem;
    background-color: var(--fix-white);
    gap: 5rem;
    border-bottom: 1px solid var(--color-brand100);
}
.div-infos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.title-sector{
    background-color: var(--color-brand100);
    color: var(--fix-white);
    text-align: center;
    width: 100%;
    padding: 0.5rem 1rem;
}
span{
    color: var(--color-brand100);
    border: 1px solid var(--color-brand100);
    border-radius: 1rem;
    width: max-content;
    padding: 0.25rem 1rem;
}
